
@{
    Layout = null;
}


<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />


<div class="container">
    <br />
    <br />
    <form method="post">
        <label>Enter the code received in your mail adress</label>
        <input type="text" class="form-control" />
        <br />
        <button class="btn btn-primary">Activate your account </button>
    </form>
</div>

